* {
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#lobby-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: grey;
}

#lobby {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
    overflow-y: scroll;
}

.w3-button {
    overflow: unset !important;
}

#message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#display-message {
    background-color: azure;
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 0;
}

#message-bottom {
    background-color: azure !important;
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

#chat-panel {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
}

#account {
    background-color: grey;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ms-box {
    min-width: min-content;
}

.chat-zone > div {
    background-color: cadetblue;
    max-width: 500px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
}

#color-picker {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
}

#addgroup-msg {
    color: red;
}

#display-message > div {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

#display-message > div.me {
    align-self: end;
    align-items: end;
}

.message-box {
    width: fit-content;
}

.timestamp {
    font-size: 10px;
}