* {
    font-family: 'Kanit', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#lobby {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#message {
    flex-grow: 3;
}

#display-message {
    background-color: azure;
}

#chat-panel {
    display: flex;
    flex-direction: row;
    flex-grow: 10;
}

#message {
    overflow-y: scroll;
}

.chat-zone {
    margin: 10px;
}

.chat-zone > span {
    
}

.chat-zone > div {
    background-color: cadetblue;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
}

.chat-zone.me > div {
    background-color: silver;
}

